<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedRecord"
        tools:targetApi="31">
        <activity
            android:name=".Diagnose_Manage_Activity"
            android:exported="false" />
        <activity
            android:name=".AddDoctorActivity"
            android:exported="false"
            android:label="Add Doctor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ManageDoctorActivity"
            android:exported="false"
            android:label="Manage Doctor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false"
            android:label="@string/title_activity_admin_login" />
        <activity
            android:name=".Lab_Diagnose_Patient_Activity"
            android:exported="false"
            android:label="Patient Diagnose" />
        <activity
            android:name=".LaborActivity"
            android:exported="false"
            android:label="Laboratory" />
        <activity
            android:name=".Doctor_Manages_Patient_Activity"
            android:exported="false"
            android:label="Manage Patient" />
        <activity
            android:name=".DoctorSelectionActivity"
            android:exported="false"
            android:label="Select Doctor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AddPatientForDoctorActivity"
            android:exported="false"
            android:label="Add Patient to Doctor"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ManagePatientActivity"
            android:exported="false"
            android:label="Manage Patient">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:label="Administrator">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PatientActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AddPatientActivity"
            android:exported="false"
            android:label="Add Patient"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DoctorActivity"
            android:exported="false"
            android:label="Doctor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>